@import 'base';

body {
    @extend %space;
    h1 {
        @extend %h1;
    }
    nav {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 15vh;
        text-align: center;
        background-color: $b;
        color: $w;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        .fas {
            margin: 15px;
        }
        .settings-closed {
            position: relative;
            z-index: 2;
        }
    }
    .settings-menu {
        @extend %options;
        left: -100%;
        transition: left 0.65s ease;
        .settings-options {
            padding: 20px;
            .fas {
                letter-spacing: 20px;
            }
        }
    }
    .opened-settings {
        left: 0%;
    }
    .options-menu {
        @extend %options;
        right: -100%;
        margin-left: 15%;
        text-align: right;
        transition: right 0.65s ease;
        .options-options {
            padding: 20px;
        }
    }
    .opened-options {
        right: 0%;
    }
}