@import 'base';

body {
    @extend %space;
    nav {
        width: 100%;
        text-align: center;
        background-color: $b;
        color: $w;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        h1 {
            font-size: 30px;
            @extend %ftitle;
            margin: 15px;
            padding: 0;
        }
        .fas {
            margin: 15px;
        }
    }
}